export(make_grey_pixel)
export(make_red_pixel)
export(make_green_pixel)
export(make_blue_pixel)
export(hex_to_raw_rgb)
export(make_cutoff_pixel)
export(change_bitmap)
export(filter_image)
export(save_filter_image)
